IMAGE_NAME=rvdc-frontend-ssr
IMAGE_TAG=dev
FRONTEND_PORT=3000
NODE_ENV=production
NEXT_PUBLIC_API_URL=/api

DROPLET_IP=http://152.42.229.230/
DEPLOY_SSH_KEY=b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACB/0S9Bp+5FBdfowOKwsagDi4cLmaO2n96K8fRezF1hGQAAAJgDMYVfAzGF
XwAAAAtzc2gtZWQyNTUxOQAAACB/0S9Bp+5FBdfowOKwsagDi4cLmaO2n96K8fRezF1hGQ
AAAEDJIHpyyrnooKEINPbW9WaBBWRymlt9eSbWoecQgAmeVX/RL0Gn7kUF1+jA4rCxqAOL
hwuZo7af3orx9F7MXWEZAAAAFWdpdGh1Yi1hY3Rpb25zLWRlcGxveQ==
GHCR_USER=rnldvrgl
GHCR_PAT=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
